extends default

block content
  div.container-siop
    div.content-row
      h2 Please authenticate using the QR in the popup.
  script. 
    function openWindow() {
        return window.open('#{siop_login}?state=#{sessionId}&client_callback=#{siop_callback}' +
            '&client_id=#{clientId}', '_blank', 'popup,width=500,height=500');
    }
    var thePopup = openWindow();
    const intervalID = setInterval(pollServer, 1000, 'nonce');
    async function pollServer(a) {
        try {
            const response = await fetch('/poll')
            if (!response.ok) {
                return
            }
            const data = await response.text() 
            if (data === "pending") {
                return
            }
            console.log("Cot a result, close the popup and continue")
            thePopup.close()
            if (data === "expired") {
                console.log("Expired.")
                location = "/"
                return
            }
            if (data === "error") {
                location = "/"
                console.log("Retrieving accesstoken failed.")
                alert("Failed to finish login")
                return
            }
            showJwtOnly='#{jwtOnly}';
            if (showJwtOnly=="true") {
                console.log("Forward to show JWT access token only.")
                location = "/jwt"
                return
            } else {
                console.log("Forward to the portal.")
                location = "/portal"
                return
            }
        } catch (error) {
            return
        }
    }
